@tailwind base;
@tailwind components;
@tailwind utilities;

@layer html {
  .scrollbar-black::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #909090;
  }

  .scrollbar-black::-webkit-scrollbar {
    width: 10px;
    background-color: #909090;
  }

  .scrollbar-black::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
  }
}
